#logo{
    padding: 21px 0px 21px 0px;
}

.sublistado{
    padding-left: 74px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}

h1{
    background-color: #C4C4C4;
    color:#005677;
    font-size: 35px;
    margin: 0%;
    padding: 15px 0px 15px 0px;
    text-align: center;
}

h2{
    background-color: #C4C4C4;
    color:#005677;
    font-size: 20px;
    padding: 6px 0px 7px 9px;        
}

header{
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}

footer{
    background-color:#005677;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 9px 0px 8px 0px;
    text-align: center;
}

footer img{
    padding-left: 26px;
}

main{
    margin: 104px 0px 176px 0px;
}

section{
    font-size: 15px;
    margin: 0px 174px 0px 225px;
}

section span{
    font-style: italic;
    font-weight: bold;
}